
mixin with(val)
  <!-- ko with: !{val} -->
  block
  <!-- /ko -->

mixin if(val)
  <!-- ko if: !{val} -->
  block
  <!-- /ko -->

mixin each(val)
  <!-- ko foreach: !{val} -->
  block
  <!-- /ko -->
